/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
  text-align: center;
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Navigation Links */
#about,
#projects,
#blog,
#merch,
#home {
  color: darkgrey;
}

#about:hover,
#projects:hover,
#blog:hover,
#merch:hover,
#home:hover {
  color: black;
}

#active {
  color: black;
  font-weight: bold;
}

#active:hover {
  color: black;
  font-weight: 900;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
  text-align: center;
}

/* Base styles */
* {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: black;
}

.large-heading {
  font-size: 3.5em; /* Adjust the font size as needed */
  color: #333;
  text-align: center;
}

.below-large-heading {
  font-size: 3em;
  text-align: center;
}

.center {
  text-align: center;
}

.advent {
  font-size: 1.5em; /* Adjust the font size as needed */
  color: #333;
  text-align: center;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .large-heading {
    font-size: 2em; /* Smaller font size for mobile */
  }
  
  .below-large-heading {
    font-size: 1.75em; /* Adjust for mobile readability */
  }
  
  .advent {
    font-size: 1.25em; /* Smaller text for mobile screens */
  }
  
  /* Adjust navigation links for better tap targets on mobile */
  #about,
  #projects,
  #blog,
  #merch,
  #home {
    font-size: 1em; /* Larger font size for easier interaction on mobile */
  }
}
