* {
  font-family: monospace;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.large-heading {
    font-size: 3em; /* Adjust the font size as needed */
    /* Add any other styles you want */
    color: black;
    text-align: center;
    /* Add more styles as needed */
        }
